
.dialogBodyContainer{
  width: 100%;

  .dialogContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button{
    width: 150px;
  }
}

.itemImageContainer{
  align-self: center;
  margin-bottom: 25px;
}
.inputNumberContainer{
  justify-self: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}