.itemsContainer{
  min-width:983px;
}

.descriptionContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  
  .classBadge{
    margin: 0 2px;
  }
}

.actionsContainer{
  display: flex;
  flex-direction: row;
}