.itemContainer{
  display: flex;
  align-items: center;

  .card{
    width: 1250px;
    height: 85vh;
    margin-top: 50px;
  }
}

.classBadge {
  margin: 0 5px;
}

      .tabList{
        width: 150px;
      }


    .panels{
      min-height: 470px;
    }


.buttonContainer{
  
}