@import '../../styles/mediaquery';

.infoContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 100%;
  padding-bottom: 20px;
  
  .infoDetail {
    display: flex;
    flex-direction: row;
    
    @include respond(medium) {
        flex-direction: column;
      }

    .detailLeft {
      width: 200px;
      padding-right: 20px;
      font-weight: 500;
    }

    .detailCenter {
      width: calc(80% - 200px);
      overflow-wrap: break-word;
    }

    .detailRight {
      width: 20%;
      justify-content: right;
    }
  }
}