.navbarContainer{
  display:flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d6d6d6;
  padding: 5px 50px;
  z-index: 50;

  .headerSearchContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:30px;

    .searchInputHeader{
      height: 15px;
    }
  }

  .headerIconContainer {
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content:flex-end;
      padding-right: 80px;

      .avatarWithBadge{
        display: flex;
        flex-direction: row;
        width:50px;
      }
    }

}
